    LISTS (Ordered, Mutable)

Syntax:

In [33]:
my_list = [1, 2, 3, 4]

    üî• Common Operations:

    Creating

In [34]:
fruits = ['apple', 'banana', 'cherry']

    Accessing

In [35]:
print(fruits[0])  # Output: apple

apple

    Changing

In [36]:
fruits[1] = 'blueberry'  # Change value
print(fruits)  # Output: ['apple', 'blueberry', 'cherry']

['apple', 'blueberry', 'cherry']

    Adding

In [37]:
fruits.append('orange')  # Add value
print(fruits)  # Output: ['apple', 'blueberry', 'cherry', 'orange']

['apple', 'blueberry', 'cherry', 'orange']

    Removing

In [38]:
fruits.remove('apple')  # Remove value
print(fruits)  # Output: ['blueberry', 'cherry', 'orange']

['blueberry', 'cherry', 'orange']

    Slicing

In [39]:
print(fruits[0:2])  # Output: ['blueberry', 'cherry']

['blueberry', 'cherry']

    Length

In [40]:
print(len(fruits))  # Output: 3

3

    TUPLES (Ordered, Immutable)

Syntax

In [41]:
my_tuple = (1, 2, 3, 4)

üî• Common Operations:

    Creating

In [42]:
dimensions = (200, 50)

    Accessing

In [43]:
print(dimensions[0])  # Output: 200

200

    # Cannot Change!
    # dimensions[0] = 30  # ‚ùå Error

    # Useful for fixed data: (x, y), (latitude, longitude)

Real-Life Example (Tuple):

Coordinates of a place: (25.276987, 55.296249) (Dubai)

    SETS (Unordered, Unique Items)

Syntax:

In [44]:
my_set = {1, 2, 3, 4}

    Creating

In [45]:
numbers = {1, 2, 3, 4} 
print(numbers)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

    Adding

In [46]:
numbers.add(5)  # Add value
print(numbers)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

    Removing

In [47]:
numbers.remove(1)  # Remove value
print(numbers)  # Output: {2, 3, 4, 5}

{2, 3, 4, 5}

    Set Operations

In [48]:
a = {1, 2, 3}
b = {3, 4, 5}

In [49]:
print(a.union(b))  # Output: {1, 2, 3, 4, 5}
print(a.intersection(b))  # Output: {3}

{1, 2, 3, 4, 5}
{3}

    DICTIONARIES (Key-Value Pairs)

Syntax:

In [1]:
person = {"name": "Ali", "age": 30}

üî• Common Operations:

    Creating

In [2]:
person = {"name": "Ali", "age": 25}

    Accessing

In [3]:
print(person["name"])  # Output: Ali

Ali

    Changing

In [4]:
person["age"] = 31  # Change value

    Adding

In [5]:
person['city'] = 'New York'  # Add value
print(person)  # Output: {'name': 'Ali', 'age': 31, 'city': 'New York'}

{'name': 'Ali', 'age': 31, 'city': 'New York'}

    Removing

In [6]:
del person["city"]  # Remove value

In [7]:
print(person)  # Output: {'name': 'Ali', 'age': 31}

{'name': 'Ali', 'age': 31}

    Keys and values

In [8]:
print(person.keys())  # Output: dict_keys(['name', 'age'])
print(person.values())  # Output: dict_values(['Ali', 31])

dict_keys(['name', 'age'])
dict_values(['Ali', 31])